@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.App {
  text-align: center;
  font-family: 'Julius Sans One';
}

a {
  text-decoration: none;
}

.hr{
  margin: .5rem auto 1rem;
  border: 1px solid hsla(28, 34%, 79%, 1);
}

.hr__order-price-sheet{
  margin: .5rem auto 1rem;
  width: 60vw;
  align-content: center;
  border: 1px solid hsla(28, 34%, 79%, 1);
}

.hr__full{
  width: 60vw;
}

.ul__nav{
  margin: 1.5em auto 1rem;
  padding: 10px;
  display: flex;
  width: 60vw;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid none;
  border-color: black;
  border-width:1px;
  list-style-type: none;
}

.ul__nav--link:link{
  color: black;
}

.ul__nav--link:visited{
  color: black;
}

.ul__nav--link:hover{
  color: white;
  transform: scale(1.2);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: calc(40vh - 16vh);
  left: calc(50% - 9vw);
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  background-color: hsla(0,0%,100%, .4);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.header__scrolled{
  top: 0;
  left: 0;
  z-index: 20;
  height: 13vh;
  width: 100%;
  border-radius: 0;
}

.head-logo{
  height: 10rem;
  width: 14rem;
  opacity: 1;
  transition: all 1s ease;
}

.head-logo--scrolled{
  height: 5.5rem;
  width: 8.5rem;
}


.banner-img {
  width: 75vw;
}

.navigation{
  height: auto;
  display: flex;
  align-items: flex-end;
}

.lower-section{
  margin-top: 2.75rem
}

.title{
  letter-spacing: .25rem;
  font-size: 2rem;
  margin: 0;
  color: white;
}

.title--letter{
  font-size: 3.5rem;
}

.body-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-section__image-section{
  display: flex;
}

.section-image{
  height: 95%;
  width: 95%; 
  z-index: -1;
  position: relative;
}

.image-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1rem hsla(329, 28%, 73%, 0) solid;
  transition: all 300ms ease-in-out;
  height: 80vh;
  width: 30vw; 
}

.image-container:hover {
  border:1rem hsla(28, 34%, 69%, 0.3) solid;
  transform: scale(1.1);
}

.main-body{
  margin-top: -2rem;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}
.main-body__title--container{
  background-color: hsla(28, 34%, 79%, 1);
  padding: 1rem;
  margin: 0 auto 5rem;
}

.uploaded-image{
  height: 10em;
  width: 10em;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 2em;
}

.signUp{
  display: flex;
  flex-direction: column;
}



.order{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
  background-color: hsla(20, 1%, 99%, 1);
  margin: 1em;
}

.hero{
  position: relative;
  height: 85vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto 2rem;
  
}

.hero__slide{
  position: relative;
  display: flex;
  opacity: 0;
}

.hero__slide__image{
  height: auto;
  max-height:100%;
  max-width:100%;
  vertical-align:middle;
}

.hero__slide__image--active{
  opacity: 1;
  height: 100%;
  transition-duration: 1s;
  transform: scale(1.08);
}

.dashboard{
  margin: 10em auto;
}

.orderform{
  position: relative;
  margin: 3rem auto 1rem;
}

.orderform__modal{
  position: absolute;
  width: 30%;
  border-style: solid;
  border-width: 2px;
  top: 50%;
  border-color: black;
  left: 50%;
  background: white;
  opacity: .8;
}

.modal__button{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.modal__button--close{
  margin: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #504f4f;
  transform: rotate(45deg);
  width: 21px;
  opacity: .8;
}

.price-sheet{
  margin: 3rem auto 1rem;
}

.price-sheet__main-container{
  display: flex;
  justify-content: center;
}

.price-sheet__main-container--images{
  height: 30rem;
  width: 25rem;
}

.price-sheet__cookie-container{
  margin: 3rem 4rem;
  height: 30rem;
}

.price-sheet__desc-container{
  position: relative;
  top: -28.7rem;
  background-color: hsla(20, 1%, 57%, .5);
  outline: 2px solid hsla(20, 1%, 99%, .8);
  outline-offset: 10px;
  width: 81%;
  height: 25rem;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media{
  position: fixed;
  top: 50%;
  left: 0;
  width: 14rem;
  margin: 0;
  margin-left: -4.5rem;
  transform: rotate(-90deg);
}
.social-media p{
  margin: 0;
}

.social-media__link{
  height: 100%;
  width: 100%;
  padding: .15rem;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-media__link:visited{
  color: black;
}
.social-media__link:hover{
  border: 1px solid black;
  border-radius: 20px;
  color: black;
}
.social-media__link:link{
  color: black;
}

.option-description{
  width: 70%;
  margin: 0 auto;
}


.footer{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(28, 34%, 79%, .5);
}

.footer *{
  margin: 1rem;
}

.footer__logo{
  height: 3rem;
  width: 4.5rem;
}