@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  display: flex;
  justify-content: center;
  box-shadow:  5px 5px 10px black;
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100vw;
  background-color: hsl(0,0%,100%);
}

.banner-img {
  width: 100vw;
}

.navigation{
  height: auto;
  display: flex;
  align-items: flex-end;
}

.body-section{
  margin-top: 5em;
  margin-left: 10em;
  margin-right: 10em;
  justify-content: space-around;
  display: flex;
}

.description{

}

.section-image{
  height: 10em;
  width: 10em;
}

.main-body{
  margin-left: 5em;
  margin-right: 5em;
}

.uploaded-image{
  height: 10em;
  width: 10em;
}

.head-logo{
  height: 10em;
  width: 25em;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 2em;
}

.signUp{
  display: flex;
  flex-direction: column;
}