@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


.App {
  text-align: center;
  font-family: 'Julius Sans One';
}

ul{
  
}


.lower-section{
  margin-top: 100vh;
}

.ul__nav{
  list-style-type: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  display: flex;
  justify-content: center;
  box-shadow:  5px 5px 10px black;
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100vw;
  opacity: .3;
  background-color: hsl(0,0%,100%);
}

.banner-img {
  width: 75vw;
}

.navigation{
  height: auto;
  display: flex;
  align-items: flex-end;
}

.body-section{
  margin-top: 5em;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  display: flex;
}

.description{
  padding: 1.5em;
  width: 30vw;
}

.section-image{
  padding: 1.5em;
  max-height: 45vw;
  max-width: 85%;
}

.main-body{
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}

.uploaded-image{
  height: 10em;
  width: 10em;
}

.head-logo{
  height: 10em;
  width: 25em;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 2em;
}

.signUp{
  display: flex;
  flex-direction: column;
}

.cookie-description {
  height: 5em;
}

.order{
  display: flex;
  justify-content: space-evenly;
  background-color: hsla(20, 1%, 99%, 1);
  margin: 1em;
}

.image-title{
  position: relative;
}

.cookie-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  background-color: hsla(329, 28%, 73%, .9);
  border-color: white;
  font-size: 74%;
  text-align: center;
  border-style: solid;
  position: absolute;
  margin-bottom: 1em;
  margin-top: 0;
  bottom: 0px;
  width: 60%;
  left: 20%;
}

.hero{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__slide{
  position: relative;
  display: flex;
}

.hero__slide__image{
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow{
  font-size: 2em;
  position: absolute;
  right: 90px;
  z-index: 100;
  color: aliceblue;
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
}

.left-arrow{
  font-size: 2em;
  position: absolute;
  left: 10px;
  z-index: 100;
  color: aliceblue;
  border-radius: 50%;
  box-shadow: 1px 1px 6px black;
}